[http://www.zotero.org/namespaces/export#item_46, http://www.w3.org/1999/02/22-rdf-syntax-ns#value, "<p>Some NOtes</p>"]
[http://www.zotero.org/namespaces/export#item_46, http://www.w3.org/1999/02/22-rdf-syntax-ns#type, http://purl.org/net/biblio#Memo]
[http://www.zotero.org/namespaces/export#item_45, http://purl.org/dc/elements/1.1/identifier, rdf:#$vQqu82]
[http://www.zotero.org/namespaces/export#item_45, http://purl.org/rss/1.0/modules/link/charset, "1"]
[http://www.zotero.org/namespaces/export#item_45, http://purl.org/rss/1.0/modules/link/type, "text/html"]
[http://www.zotero.org/namespaces/export#item_45, http://purl.org/dc/terms/dateSubmitted, "2009-03-20 15:14:56"]
[http://www.zotero.org/namespaces/export#item_45, http://purl.org/dc/elements/1.1/title, "Visual Understanding Environment"]
[http://www.zotero.org/namespaces/export#item_45, http://www.zotero.org/namespaces/export#itemType, "attachment"]
[http://www.zotero.org/namespaces/export#item_45, http://www.w3.org/1999/02/22-rdf-syntax-ns#type, http://www.zotero.org/namespaces/export#Attachment]
[rdf:#$wQqu82, http://www.w3.org/1999/02/22-rdf-syntax-ns#value, "http://vue.tufts.edu/"]
[rdf:#$wQqu82, http://www.w3.org/1999/02/22-rdf-syntax-ns#type, http://purl.org/dc/terms/URI]
[http://vue.tufts.edu/, http://purl.org/dc/elements/1.1/identifier, rdf:#$wQqu82]
[http://vue.tufts.edu/, http://purl.org/rss/1.0/modules/link/link, http://www.zotero.org/namespaces/export#item_45]
[http://vue.tufts.edu/, http://purl.org/dc/terms/isReferencedBy, http://www.zotero.org/namespaces/export#item_46]
[http://vue.tufts.edu/, http://purl.org/dc/terms/isPartOf, rdf:#$uQqu82]
[http://vue.tufts.edu/, http://purl.org/dc/terms/dateSubmitted, "2009-03-20 15:14:54"]
[http://vue.tufts.edu/, http://purl.org/dc/elements/1.1/title, "Visual Understanding Environment - real item"]
[http://vue.tufts.edu/, http://purl.org/dc/elements/1.1/subject, "Cluster1"]
[http://vue.tufts.edu/, http://www.zotero.org/namespaces/export#itemType, "webpage"]
[http://vue.tufts.edu/, http://www.w3.org/1999/02/22-rdf-syntax-ns#type, http://purl.org/net/biblio#Document]
[rdf:#$vQqu82, http://www.w3.org/1999/02/22-rdf-syntax-ns#value, "http://vue.tufts.edu/"]
[rdf:#$vQqu82, http://www.w3.org/1999/02/22-rdf-syntax-ns#type, http://purl.org/dc/terms/URI]
[rdf:#$uQqu82, http://www.w3.org/1999/02/22-rdf-syntax-ns#type, http://www.zotero.org/namespaces/export#Website]