<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vue</string>
				<string>vpk</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VUE.icns</string>
			<key>CFBundleTypeName</key>
			<string>VUE Concept Map</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleGetInfoString</key>
	<string>Tufts Visual Understanding Environment</string>
	<key>CFBundleIconFile</key>
	<string>VUE.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VUE</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>TVUE</string>
	<key>CFBundleVersion</key>
	<string>10.2</string>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<array>
			<string>$APP_PACKAGE/Contents/VUE.jar</string>
			<string>$JAVAROOT</string>
			<string>/System/Library/Java</string>
		</array>
		<key>JVMArchs</key>
		<array>
			<string>i386</string>
		</array>
		<key>JVMVersion</key>
		<string>1.6+</string>
		<key>MainClass</key>
		<string>tufts.vue.VUE</string>
		<key>Properties</key>
		<dict>
			<key>apple.awt.Antialiasing</key>
			<string>true</string>
			<key>apple.awt.brushMetalLook</key>
			<string>false</string>
			<key>apple.awt.TextAntialiasing</key>
			<string>true</string>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
			<key>com.apple.hwaccel</key>
			<string>true</string>
			<key>com.apple.mrj.application.growbox.intrudes</key>
			<string>true</string>
			<key>com.apple.mrj.application.live-resize</key>
			<string>false</string>
		</dict>
		<key>SplashFile</key>
		<string>$APP_PACKAGE/Contents/Resources/splash_graphic_mac.png</string>
		<key>VMOptions</key>
		<string>-Xms256m -Xmx2g -XX:MinHeapFreeRatio=20 -XX:MaxHeapFreeRatio=40 -XX:NewSize=100m -XX:MaxNewSize=100m -XX:SurvivorRatio=6 -XX:TargetSurvivorRatio=80 -XX:+CMSClassUnloadingEnabled -XX:+CMSPermGenSweepingEnabled</string>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/Resources/Java</string>
	</dict>
</dict>
</plist>
