<html>
    <head><title>VUE Release</title></head>
    <body>
	    <p><strong> VUE Releases</strong></p>
            <p><a href="VUE_{{release}}.zip">Generic version(VUE_{{release}}.zip)</a></p>
            <p><a href="VUE_{{release}}.app.zip">Mac Release(VUE_{{release}}.app.zip)</a></p>
            <p><a href="VUE_{{release}}-Java16.app.zip">Mac Java 1.6+ Release(VUE_{{release}}-Java16.app.zip)</a></p>
	    <p><a href="VUE_{{release}}Applet.zip">Applet(VUE_{{release}}Applet.zip)</a></p>
            <p><a href="VUE_{{release}}_src.zip">Source Code(VUE_{{release}}_src.zip)</a></p>
	    <p><a href="VUE_{{release}}_Installer.zip">Windows Installer(VUE_{{release}}_Installer.zip)</a></p>
            <p><a href="VUE_{{release}}ZoteroFireFoxExtension.xpi">Firefox Plugin(VUE_{{release}}ZoteroFireFoxExtension.xpi)</a></p>
            <p><a href="checksum.txt">checksums</a></p>
    </body>
</html>
