/* 
    Document   : DefaultFedoraStyle
    Created on : March 19, 2007, 10:49 AM
    Author     : dhelle01
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

link.isDerivationOf { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.hasDependent { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.HasMetadata { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.isPartOf { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.HasAnnotation { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.hasMember { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.hasCollectionMember { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.hasSubset { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.isDescriptionOf { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.HasDescription { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.isMemberOfCollection { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.hasPart { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.hasConstituent { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.isDependentOf { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.isMetadataFor { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.isConstituentOf { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.fedoraRelationship { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.isMemberOf { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.isSubsetOf { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.hasDerivation { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.isAnnotationOf { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}

link.hasEquivalent { 
        stroke-width: 1px; 
	font-size: 11.0px; 
	font-color: #333333;
        border-color: #999999; 
}




