/* 
    Document   : DefaultFedoraStyle
    Created on : March 19, 2007, 10:49 AM
    Author     : dhelle01
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

link.isPartOf { 
    stroke-width: 1px; 
    	font-family: "Gill Sans", Arial, Helvetica, sans-serif;
	font-size: 16.0px; 
	font-color: #FF0000; 
	font-style: italic; 
        font-weight: bold;
        vue-head: 10px;
}

link.hasPart { 
    stroke-width: 1px; font-size: 8px; vue-head: 10px;
}

link.isDerivationOf { 
    stroke-width: 2px; font-size: 9px; vue-head: 11px;
}

link.hasDerivation { 
    stroke-width: 2px; font-size: 9px; vue-head: 11px;
}

link.isDependentOf { 
    stroke-width: 3px; font-size: 10px; vue-head: ARROW_HEAD;
}

link.hasDependent { 
    stroke-width: 3px; font-size: 10px; vue-head: 12px;
}

link.isDescriptionOf { 
    stroke-width: 4px; font-size: 11px; vue-head: 12px;
}

link.hasDescription { 
    stroke-width: 4px; font-size: 11px; vue-head: 12px;
}

link.hasEquivalent { 
    stroke-width: 5px; font-size: 12px; vue-head: 13px;
}